# Загрузки и кэш
/wp-content/uploads/
/wp-content/cache/

# сторонние библиотеки через composer или npm
/vendor/
/node_modules/

# Личные файлы IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db
